<!-- <aside class="comments" role="complementary">
  <h2>Comments</h2>
  <hr/>

  <div id="disqus_thread"></div>

  <script>
    {% include scripts/load-disqus.min.js %}
  </script>
  <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
</aside> -->

<!-- <script src="https://utteranc.es/client.js"
        repo="bluemumin/bluemumin.github.io"
        issue-term="pathname"
        label="blog_comments"
        theme="github-light"
        crossorigin="anonymous"
        async>
</script> -->

<script src="https://giscus.app/client.js"
        data-repo="bluemumin/bluemumin.github.io"
        data-repo-id="MDEwOlJlcG9zaXRvcnkzNTQ3OTM5NDk="
        data-category="Announcements"
        data-category-id="DIC_kwDOFSW53c4CY8sH"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="top"
        data-theme="light"
        data-lang="ko"
        crossorigin="anonymous"
        async>
</script>