<div class="markdown-body">
  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4138877971486578"
     crossorigin="anonymous"></script>
     <!-- 블로그-하단-반응형 -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-format="autorelaxed"
     data-ad-client="ca-pub-4138877971486578"
     data-ad-slot="4558248688"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
                <br/>
  {{ post.content }}
</div>
<br/>
<br/>
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4138877971486578"
     crossorigin="anonymous"></script>
     <!-- 블로그-하단-반응형 -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-format="autorelaxed"
     data-ad-client="ca-pub-4138877971486578"
     data-ad-slot="4558248688"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>